.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

button {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    opacity: 1;
    margin-right: 25px;
    border: none;



}

.filters button:hover {
    opacity: 0.9;
}

.locations, .amenities {
    height:100% ;
    width: 25%;
    text-align: left;
    margin-left: 40px;
    
}

.locations {
    border-right: #DDDDDD 1px solid;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 12px 0 5px 0;



}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 0 0;
}

.amenities {
    margin-right: 200px;
}

.popover {
    display: none;
    width: 100%;
    background-color: #FAFAFA;
    border:#DDDDDD 1px solid ;
    border-radius: 4px;
    position: relative;
    margin-top: 19px;
    left: -40.8px;
    padding: 20px 1px 40px 37px;
    z-index: 1;

}

.popover , .popover ul {
    list-style-type: none;
}

.locations:hover > .popover {
    display: block;
}

.amenities:hover > .popover {
    display: block;
}

.amenities > .popover > li {
    padding-top: 5px;
}

.locations > .popover > li {
    line-height: 20px;
}

.locations > .popover > li ul {
    line-height: 20px;
}

.popover h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    }